@keyframes circleRotate {
  0% {
    transform: rotateY(0);
  }

  100% {
    transform: rotateY(360deg);
  }
}

@keyframes circleRotate2 {
  0% {
    transform: rotateY(360deg);
  }

  100% {
    transform: rotateY(0deg);
  }
}

@keyframes smallCircleRotate1 {
  0% {
    transform: rotateY(0deg) scale(1);
  }

  16.6% {
    transform: rotateY(-60deg) scale(0.9);
  }

  33.2% {
    transform: rotateY(-120deg) scale(0.8);
  }

  49.8% {
    transform: rotateY(-180deg) scale(0.7);
  }

  66.6% {
    transform: rotateY(-240deg) scale(0.8);
  }

  83.2% {
    transform: rotateY(-300deg) scale(0.9);
  }

  100% {
    transform: rotateY(-360deg) scale(1);
  }
}

@keyframes smallCircleRotate2 {
  0% {
    transform: rotateY(-60deg) scale(0.9);
  }

  16.6% {
    transform: rotateY(-120deg) scale(0.8);
  }

  33.2% {
    transform: rotateY(-180deg) scale(0.7);
  }

  49.8% {
    transform: rotateY(-240deg) scale(0.8);
  }

  66.6% {
    transform: rotateY(-300deg) scale(0.9);
  }

  83.2% {
    transform: rotateY(-360deg) scale(1);
  }

  100% {
    transform: rotateY(-420deg) scale(0.9);
  }
}

@keyframes smallCircleRotate3 {
  0% {
    transform: rotateY(-120deg) scale(0.8);
  }

  16.6% {
    transform: rotateY(-180deg) scale(0.7);
  }

  33.2% {
    transform: rotateY(-240deg) scale(0.8);
  }

  49.8% {
    transform: rotateY(-300deg) scale(0.9);
  }

  66.6% {
    transform: rotateY(-360deg) scale(1);
  }

  83.2% {
    transform: rotateY(-420deg) scale(0.9);
  }

  100% {
    transform: rotateY(-480deg) scale(0.8);
  }
}

@keyframes smallCircleRotate4 {
  0% {
    transform: rotateY(-180deg) scale(0.7);
  }

  16.6% {
    transform: rotateY(-240deg) scale(0.8);
  }

  33.2% {
    transform: rotateY(-300deg) scale(0.9);
  }

  49.8% {
    transform: rotateY(-360deg) scale(1);
  }

  66.6% {
    transform: rotateY(-420deg) scale(0.9);
  }

  83.2% {
    transform: rotateY(-480deg) scale(0.8);
  }

  100% {
    transform: rotateY(-540deg) scale(0.7);
  }
}

@keyframes smallCircleRotate5 {
  0% {
    transform: rotateY(-240deg) scale(0.8);
  }

  16.6% {
    transform: rotateY(-300deg) scale(0.9);
  }

  33.2% {
    transform: rotateY(-360deg) scale(1);
  }

  49.8% {
    transform: rotateY(-420deg) scale(0.9);
  }

  66.6% {
    transform: rotateY(-480deg) scale(0.8);
  }

  83.2% {
    transform: rotateY(-540deg) scale(0.7);
  }

  100% {
    transform: rotateY(-600deg) scale(0.8);
  }
}

@keyframes smallCircleRotate6 {
  0% {
    transform: rotateY(-300deg) scale(0.9);
  }

  16.6% {
    transform: rotateY(-360deg) scale(1);
  }

  33.2% {
    transform: rotateY(-420deg) scale(0.9);
  }

  49.8% {
    transform: rotateY(-480deg) scale(0.8);
  }

  66.6% {
    transform: rotateY(-540deg) scale(0.7);
  }

  83.2% {
    transform: rotateY(-600deg) scale(0.8);
  }

  100% {
    transform: rotateY(-660deg) scale(0.9);
  }
}

@keyframes smallCircleRotate7 {
  0% {
    transform: rotateY(0deg) scale(0.95);
  }

  8.3% {
    transform: rotateY(-30deg) scale(0.9);
  }

  16.6% {
    transform: rotateY(-60deg) scale(0.85);
  }

  24.9% {
    transform: rotateY(-90deg) scale(0.8);
  }

  33.2% {
    transform: rotateY(-120deg) scale(0.75);
  }

  41.5% {
    transform: rotateY(-150deg) scale(0.7);
  }

  49.8% {
    transform: rotateY(-180deg) scale(0.65);
  }

  58.1% {
    transform: rotateY(-210deg) scale(0.7);
  }

  66.4% {
    transform: rotateY(-240deg) scale(0.75);
  }

  74.7% {
    transform: rotateY(-270deg) scale(0.8);
  }

  83% {
    transform: rotateY(-300deg) scale(0.85);
  }

  91.3% {
    transform: rotateY(-330deg) scale(0.9);
  }

  100% {
    transform: rotateY(-360deg) scale(0.95);
  }
}

@keyframes smallCircleRotate8 {
  0% {
    transform: rotateY(-120deg) scale(0.75);
  }

  8.3% {
    transform: rotateY(-150deg) scale(0.7);
  }

  16.6% {
    transform: rotateY(-180deg) scale(0.65);
  }

  24.9% {
    transform: rotateY(-210deg) scale(0.7);
  }

  33.2% {
    transform: rotateY(-240deg) scale(0.75);
  }

  41.5% {
    transform: rotateY(-270deg) scale(0.8);
  }

  49.8% {
    transform: rotateY(-300deg) scale(0.85);
  }

  58.1% {
    transform: rotateY(-330deg) scale(0.9);
  }

  66.4% {
    transform: rotateY(-360deg) scale(0.95);
  }

  74.7% {
    transform: rotateY(-390deg) scale(0.9);
  }

  83% {
    transform: rotateY(-420deg) scale(0.85);
  }

  91.3% {
    transform: rotateY(-450deg) scale(0.8);
  }

  100% {
    transform: rotateY(-480deg) scale(0.75);
  }
}

@keyframes smallCircleRotate9 {
  0% {
    transform: rotateY(-240deg) scale(0.75);
  }

  8.3% {
    transform: rotateY(-270deg) scale(0.8);
  }

  16.6% {
    transform: rotateY(-300deg) scale(0.85);
  }

  24.9% {
    transform: rotateY(-330deg) scale(0.9);
  }

  33.2% {
    transform: rotateY(-360deg) scale(0.95);
  }

  41.5% {
    transform: rotateY(-390deg) scale(0.9);
  }

  49.8% {
    transform: rotateY(-420deg) scale(0.85);
  }

  58.1% {
    transform: rotateY(-450deg) scale(0.8);
  }

  66.4% {
    transform: rotateY(-480deg) scale(0.75);
  }

  74.7% {
    transform: rotateY(-510deg) scale(0.7);
  }

  83% {
    transform: rotateY(-540deg) scale(0.65);
  }

  91.3% {
    transform: rotateY(-570deg) scale(0.7);
  }

  100% {
    transform: rotateY(-600deg) scale(0.75);
  }
}

/* 菜单 */
.H125_meno {
  margin-left: 40px;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}

.H124_menu {
  position: absolute;
  z-index: 10;
  background-color: rgba(6, 48, 79, 0.7);
  box-sizing: border-box;
  width: 14vw;
  left: -40px;
  top: 100%;
  display: none;
}

.H124_menu ul {
  margin: 0;
  padding: 0;
}
.H124_menu ul li{
  position: relative;
}
.H124_menu ul li:hover .H124_menu_child {
  display: block;
}

.H124_menu ul li a {
  color: #ffffff;
  text-decoration: none;
}

.H124_menu ul li a:hover {
  color: #03ddf0;
}


.H124_menu_par {
  width: 100%;
  display: flex;
  color: #ffffff;
  background: url('~@/assets/images/24/left.png') no-repeat;
  background-position: 90% center;
  background-size: 0.6vw 1.8vh;
  font-size: 0.9vw;
  height: 6vh;
  align-items: center;
  padding-left: 40px;
  box-sizing: border-box;
}

.H124_menu_par:hover {
  color: #03ddf0;
}

.H124_menu_child {
  position: absolute;
  height: 100%;
  left: 14vw;
  border-left: none;
  width: 14vw;
  top: -1px;
  box-sizing: border-box;
  display: none;
}

.H124_menu_guide {
  height: 6vh;
  width: 100%;
  box-sizing: border-box;
  padding-left: 40px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #2b6177;
  color: #ffffff;
  background-color: rgba(6, 48, 79, 0.7);
  border-right: 1px solid #0e638c;
  border-top: 1px solid #0e638c;
  cursor: auto;
}

.H124_menu_c_list {
  border-bottom: 1px solid #0e638c;
  border-right: 1px solid #0e638c;
  background-color: rgba(6, 48, 79, 0.7);
}

.H124_menu_c_list li {
  height: 5vh;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-left: 40px;
  color: #ffffff;
}

.H124_menu_c_list li:hover {
  color: #03ddf0;
}


li {
  list-style: none;
}


/* 机械字体 */
@font-face {
  font-family: led;
  src: url("../font/led/DS-DIGI.TTF");
}

@font-face {
  font-family: inNum;
  src: url("../font/Impact.ttf");
}

::-webkit-scrollbar {
  width: 4px;
  background-color: #f5f5f5;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #0ba8ad;
  border-radius: 10px;
  background-color: #f5f5f5;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #0ba8ad;
  background-color: #555;
}

.I124_content {
  height: 100%;
  width: 100%;
  background: url(../imgs/background.png) no-repeat;
  background-size: 100% 100%;
}

/* 头部 */
.I124_content .I124_head {
  width: 100%;
  height: 7%;
  background: url(../imgs/title_back.png) no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: space-between;
}

.I124_h_blank {
  width: 25rem;
}

.I124_h_blank_l>div {
  display: flex;
  margin-top: 0.6rem;
  align-items: center;
  cursor: pointer;
  margin-left: 2rem;
  position: relative;
}
.I124_h_blank_l>div:hover .H124_menu{
  display: block;
}
.I124_h_blank_l .I124_memu_img {
  height: 1rem;
  width: 1rem;
}

.I124_h_blank_l .I124_memu_img img {
  height: 100%;
  width: 100%;
}

.I124_h_blank_l .I124_memu_font {
  font-size: 0.9rem;
  margin-left: 0.2rem;
  color: #02bdce;
}

.I124_h_blank_r>div {
  display: flex;
  align-items: center;
  color: #02bdce;
  font-size: 0.9rem;
  margin-top: 0.6rem;
  flex-direction: row-reverse;
  margin-right: 2rem;
}

.I124_h_blank_r>div>div {
  margin-left: 0.5rem;
}

.I124_h_blank_r>div>div img {
  height: 1.3rem;
  width: 1.3rem;
  margin-left: 0.3rem;
  cursor: pointer;
}

.I124_content .I124_head .I124_title {
  font-size: 2.5rem;
  background-image: linear-gradient(180deg, #ffffff, #a8fff8);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 500;
}

/* 身体 */
.I124_content .I124_body {
  height: 93%;
  display: flex;
  padding: 0.7rem 0.7rem 1rem;
}

/* 左边部分 */
.I124_content .I124_body .I124_left {
  flex: 1;
  width: 0;
  height: 100%;
}

/* 通用副标题 */
.I124_sub_title {
  width: 100%;
  height: 2.2rem;
  background: url(../imgs/sub_title_back.png) no-repeat;
  background-size: 100% 100%;
  position: relative;
}

.I124_sub_title .I124_in_sub {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 2.2rem;
  font-size: 1.1rem;
  background-image: linear-gradient(180deg, #ffffff, #a8fff8);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 600;
}

/* 通用表格格式 */
.I124_table_content {
  width: 100%;
  height: calc(100% - 2.2rem);
  box-sizing: border-box;
  padding: 1rem 1rem;
}
.I124_table_content .I124_table_wrap {
  height: 74%;
  width: 100%;
  overflow-y: auto;
}
.I124_table_content .I124_table_wrap2{
  height: 84%;
}
.I124_table_content table {
  width: 100%;
  border: 1px solid #1b6183;
  overflow-y: auto;
}
.I124_table_content table th {
  background-color: #194b69;
  color: #85e1ff;
  text-align: center;
  font-size: 0.8rem;
  height: 1.5rem;
}
.I124_table_content table td:nth-child(1){
  width: 7%;
}
.I124_table_content table td:nth-child(2){
  width: 31%;
}
.I124_table_content table td:nth-child(3){
  width: 31%;
}
.I124_table_content table td:nth-child(4){
  width: 31%;
}
.I124_table_content table th:nth-child(1){
  width: 6%;
}
.I124_table_content table th:nth-child(2){
  width: 31%;
}
.I124_table_content table th:nth-child(3){
  width: 31%;
}
.I124_table_content table th:nth-child(4){
  width: 31%;
}
.I124_table_content table td {
  color: #ffffff;
  text-align: center;
  font-size: 0.7rem;
  height: 1.8rem;
}
.I124_table_content table td:first-child div {
  background: url(../imgs/num_back.png) no-repeat;
  background-size: 100% 100%;
  height: 1.3rem;
  width: 1rem;
  margin: auto;
}
.I124_table_content table tr:nth-child(2n) {
  background-color: #194b69;
}
.I124_table_content table td {
  border-right: 1px solid #143e5a;
}
/* 左上 */
.I124_left .I124_l_top {
  height: 24%;
  width: 100%;
  background: url(../imgs/l_t_back.png) no-repeat;
  background-size: 100% 100%;
}

/* 左中 */
.I124_left .I124_l_middle {
  margin-top: 0.5rem;
  height: 41%;
  background: url(../imgs/l_m_back.png) no-repeat;
  background-size: 100% 100%;
}

.I124_l_middle .I124_jwt_choice {
  position: absolute;
  height: 1.5rem;
  border: 1px solid #195a7e;
  border-radius: 4px;
  width: 6.8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  right: 1rem;
  bottom: -0.9rem;
  z-index: 100;
}

.I124_l_middle .I124_jwt_choice .I124_jwt_bar {
  color: #ffffff;
  cursor: pointer;
  font-size: 0.9rem;
}

.I124_l_middle .I124_jwt_choice .I124_divice {
  color: #1f6c92;
}

.I124_l_middle .I124_jwt_choice .I124_jwt_bar_active {
  color: #06c7ff;
  cursor: auto;
}

.I124_l_middle .I124_l_m_chart {
  height: calc(100% - 2.2rem);
}

/* 左下部分 */
.I124_left .I124_l_bottom {
  height: 33%;
  width: 100%;
  background: url(../imgs/l_t_back.png) no-repeat;
  background-size: 100% 100%;
  margin-top: 0.5rem;
}

.I124_l_bottom .I124_kcqk_chart {
  height: calc(100% - 2.2rem);
}

/* 中间部分 */
.I124_content .I124_body .I124_middle {
  flex: 1.68;
  margin: 0 0.5rem;
  width: 0;
  height: 100%;
}

/* 中上部分 */
.I124_middle .I124_m_top {
  position: relative;
  height: 50%;
}

.I124_m_top .I124_sub_title {
  width: 60%;
  margin: auto;
}

.I124_m_top .I124_m_top_main {
  width: 100%;
  height: calc(100% - 2.2rem);
  display: flex;
  justify-content: center;
  position: relative;
  justify-content: center;
  align-items: center;
  position: relative;
  perspective: 400vw;
  perspective-origin: 50% -750%;
  backface-visibility: hidden;
}

.I124_m_top_main .I124_earth {
  margin-top: 1rem;
  width: 41.3rem;
  height: 22.7rem;
  background: url(../imgs/earth.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  z-index: 10;
}

/* 转圈圈区域 */
.I124_m_top .I124_m_top_main .I124_trans {
  width: 10rem;
  height: 8rem;
  transform-style: preserve-3d;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -5rem;
  margin-top: -4rem;
  animation: circleRotate 36s linear infinite 0.5s;
  transform: rotateY(0);
}

.I124_trans .I124_earth_wrap {
  top: 1.1rem;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transform: rotateY(0deg) translateZ(0rem);
}
.I124_trans .I124_earth_wrap .I124_earth {
  width: 41.3rem;
  height: 22.7rem;
  animation: circleRotate2 36s linear infinite 0.5s;
}

.I124_trans .I124_t_in_block {
  width: 5.56rem;
  height: 4.83rem;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transform: rotateY(0deg) translateZ(15rem);
}

.I124_trans .I124_t_in_block:nth-child(2) {
  transform: rotateY(0deg) translateZ(20rem);
}

.I124_trans .I124_t_in_block:nth-child(3) {
  transform: rotateY(60deg) translateZ(22rem);
}

.I124_trans .I124_t_in_block:nth-child(4) {
  transform: rotateY(120deg) translateZ(22rem);
}

.I124_trans .I124_t_in_block:nth-child(5) {
  transform: rotateY(180deg) translateZ(20.5rem);
}

.I124_trans .I124_t_in_block:nth-child(6) {
  transform: rotateY(240deg) translateZ(19rem);
}

.I124_trans .I124_t_in_block:nth-child(7) {
  transform: rotateY(300deg) translateZ(19rem);
}

.I124_trans .I124_t_in_block:nth-child(8) {
  transform: rotateY(0deg) translateZ(12rem);
}

.I124_trans .I124_t_in_block:nth-child(9) {
  transform: rotateY(120deg) translateZ(13rem);
}

.I124_trans .I124_t_in_block:nth-child(10) {
  transform: rotateY(240deg) translateZ(10rem);
}

.I124_t_in_block:nth-child(2)>div {
  transform: rotateY(0deg);
  animation: smallCircleRotate1 36s linear infinite 0.5s;
}

.I124_t_in_block:nth-child(3)>div {
  transform: rotateY(-60deg);
  animation: smallCircleRotate2 36s linear infinite 0.5s;
}

.I124_t_in_block:nth-child(4)>div {
  transform: rotateY(-120deg);
  animation: smallCircleRotate3 36s linear infinite 0.5s;
}

.I124_t_in_block:nth-child(5)>div {
  transform: rotateY(-180deg);
  animation: smallCircleRotate4 36s linear infinite 0.5s;
}

.I124_t_in_block:nth-child(6)>div {
  transform: rotateY(-240deg);
  animation: smallCircleRotate5 36s linear infinite 0.5s;
}

.I124_t_in_block:nth-child(7)>div {
  transform: rotateY(-300deg);
  animation: smallCircleRotate6 36s linear infinite 0.5s;
}

.I124_t_in_block:nth-child(8)>div {
  transform: rotateY(0deg);
  animation: smallCircleRotate7 36s linear infinite 0.5s;
}

.I124_t_in_block:nth-child(9)>div {
  transform: rotateY(-120deg);
  animation: smallCircleRotate8 36s linear infinite 0.5s;
}

.I124_t_in_block:nth-child(10)>div {
  transform: rotateY(-240deg);
  animation: smallCircleRotate9 36s linear infinite 0.5s;
}

.I124_t_in_block>div {
  height: 100%;
  width: 100%;
  background: url(../imgs/block_back.png) no-repeat;
  background-size: 100% 100%;
  transform: rotateY(0deg) scale(1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.I124_t_in_block>div>p:first-child {
  font-size: 1.4rem;
  color: #1df4a5;
  font-family: led;
  margin-bottom: 0.2rem;
}

.I124_t_in_block>div>p:last-child {
  font-size: 0.8rem;
  color: #abf2ff;
}

.I124_t_in_block:nth-child(1) {}

.I124_t_in_block:nth-child(2) {}

.I124_t_in_block:nth-child(3) {}

.I124_t_in_block:nth-child(4) {}

.I124_t_in_block:nth-child(5) {}

.I124_t_in_block:nth-child(6) {}

.I124_t_in_block:nth-child(7) {}

.I124_t_in_block:nth-child(8) {}

.I124_t_in_block:nth-child(9) {}

.I124_m_data {
  width: 16rem;
  height: 3.67rem;
  display: flex;
  position: absolute;
  left: 50%;
  margin-left: -8rem;
  top: 34%;
  font-size: 1.5rem;
}

.I124_m_data>div {
  margin-left: 0.5rem;
  height: 100%;
  width: 2.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background: url(../imgs/middle_num_back.png) no-repeat;
  background-size: 100% 100%;
  font-size: 2.2rem;
  font-family: inNum;
}

/* 中下部分 */
.I124_middle .I124_m_bottom {
  height: 50%;
  width: 100%;
  background: url(../imgs/m_b_back.png) no-repeat;
  background-size: 100% 100%;
  box-sizing: border-box;
  padding: 0.4rem;
}

.I124_m_bottom .I124_m_b_top {
  display: flex;
  width: 100%;
  height: 15%;
  background: url(../imgs/m_b_t_border.png) no-repeat;
  background-size: 100% 100%;
  padding: 4px;
}

.I124_m_bottom .I124_m_b_top>div {
  flex: 1;
  margin-right: 1.5rem;
  width: 100%;
  background: url(../imgs/m_b_t_block.png) no-repeat;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.I124_m_bottom .I124_m_b_top>div>div {
  margin-left: 0.4rem;
  font-weight: 600;
}

.I124_m_bottom .I124_m_b_top>div:last-child {
  margin-right: 0;
}

.I124_m_b_top .I124_con {
  height: 1.16rem;
  width: 0.83rem;
}

.I124_m_b_top .I124_con_thin {
  height: 1.28rem;
  width: 0.61rem;
}

.I124_m_b_top .I124_con img {
  height: 100%;
  width: 100%;
}

.I124_m_b_top .I124_con_name {
  font-size: 1rem;
  background-image: linear-gradient(180deg, #ffffff, #a8fff8);
  -webkit-background-clip: text;
  color: transparent;
  width: 3.9rem;
}

.I124_m_bottom .I124_m_b_top>div>.I124_m_b_divide {
  height: 1.39rem;
  width: 1px;
  margin: 0 0.7rem;
}

.I124_m_b_top .I124_m_b_divide img {
  height: 100%;
  width: 100%;
}

.I124_m_b_top .I124_m_b_num {
  font-size: 1.6rem;
  color: #1df4a5;
  font-family: led;
}

.I124_m_bottom .I124_m_b_middle {
  height: 36%;
  display: flex;
  margin-top: 0.3rem;
}

.I124_m_bottom .I124_m_b_middle>div {
  height: 100%;
  flex: 1;
  margin-right: 0.3rem;
  background: url(../imgs/normal_block_border.png) no-repeat;
  background-size: 100% 100%;
}

.I124_m_bottom .I124_m_b_middle>div:last-child {
  margin-right: 0;
}

.I124_m_b_middle .I124_small_title {
  height: 1.56rem;
  width: 100%;
  background: url(../imgs/small_title_back.png) no-repeat;
  text-align: center;
  background-size: 85% 100%;
  background-position: center;
  margin-top: 0.4rem;
}

.I124_m_b_middle .I124_small_title>div {
  width: 100%;
  background-image: linear-gradient(180deg, #ffffff, #a8fff8);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 1rem;
  text-align: center;
  font-weight: 600;
  padding-top: 0.4rem;
}

.I124_d_chart {
  height: calc(100% - 2rem);
}

.I124_jfsb_chart {
  box-sizing: border-box;
  padding: 0.5rem;
  height: 100%;
  width: 100%;
}

.I124_jfsb_chart_wrap {
  background: url(../imgs/jfsb_foot.png) no-repeat;
  background-position: center 6rem;
  background-size: 13rem 1.5rem;
}

.I124_m_bottom .I124_m_b_bottom {
  height: 47%;
  display: flex;
  margin-top: 0.3rem;
}

.I124_m_b_bottom .I124_small_title {
  height: 1.56rem;
  width: 100%;
  background: url(../imgs/small_title_back.png) no-repeat;
  text-align: center;
  background-size: 85% 100%;
  background-position: center;
  margin-top: 0.4rem;
}

.I124_m_b_bottom .I124_small_title>div {
  width: 100%;
  background-image: linear-gradient(180deg, #ffffff, #a8fff8);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 1rem;
  text-align: center;
  font-weight: 600;
  padding-top: 0.4rem;
}

.I124_m_bottom .I124_m_b_bottom>div {
  height: 100%;
  flex: 1;
  margin-right: 0.3rem;
  background: url(../imgs/normal_block_border.png) no-repeat;
  background-size: 100% 100%;
}

.I124_m_bottom .I124_m_b_bottom>div:last-child {
  margin-right: 0;
}

.I124_d_chart_SIM {
  display: flex;
  flex-direction: column;
}

.I124_d_chart_SIM>div {
  flex: 1;
  padding: 0 1rem;
}

.I124_d_chart_SIM .I124_chart_text {
  display: flex;
  justify-content: space-between;
}

.I124_d_chart_SIM .I124_chart_text>span:first-child {
  font-size: 0.9rem;
  color: #91e0e5;
}

.I124_d_chart_SIM .I124_chart_text>span:last-child {
  font-size: 1.5rem;
  font-family: led;
  color: #43ffb6;
}

.I124_d_chart_SIM .I124_line_chart {
  height: 0.8rem;
  background-color: #083c5d;
}

/* 右边部分 */
.I124_content .I124_body .I124_right {
  flex: 1;
  width: 0;
  height: 100%;
}

/* 右上 */
.I124_right .I124_r_top {
  height: 26%;
  width: 100%;
  background: url(../imgs/l_t_back.png) no-repeat;
  background-size: 100% 100%;
}

.I124_r_top .I124_table_content table td:first-child div {
  background: url(../imgs/num_back2.png) no-repeat;
  background-size: 100% 100%;
  height: 1.3rem;
  width: 1.3rem;
}

.I124_right .I124_r_bottom {
  height: 73%;
  width: 100%;
  background: url(../imgs/r_b_back.png) no-repeat;
  background-size: 100% 100%;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
}

.I124_r_bottom .I124_r_b_bar {
  flex: 1;
}

.I124_r_bottom .I124_right_small_title {
  display: flex;
  align-items: center;
  width: 10.5rem;
  background: url(../imgs/right_small_title.png) no-repeat;
  background-size: 100% 100%;
  height: 1rem;
  margin-left: 1.5rem;
}

.I124_r_bottom .I124_right_small_title h3 {
  background-image: linear-gradient(180deg, #ffffff, #a8fff8);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 1rem;
  padding-left: 1.4rem;
}

.I124_r_bottom .I124_r_b_bar .I124_circle_chart_wrap {
  height: calc(100% - 1rem);
  position: relative;
  padding: 1rem 2rem;
}

.I124_circle_chart_wrap .I124_circle_chart {
  height: 6.4rem;
  width: 6.4rem;
  position: absolute;
}
.I124_circle_chart_wrap .I124_circle_chart>div{
  height: 100%;
  width: 100%;
}
.I124_circle_chart_wrap .I124_circle_chart1 {
  top: 40%;
}

.I124_circle_chart_wrap .I124_circle_chart2 {
  left: 29%;
}

.I124_circle_chart_wrap .I124_circle_chart3 {
  left: 51%;
  top: 40%;
}

.I124_circle_chart_wrap .I124_circle_chart4 {
  left: 73%;
}

.I124_circle_chart_wrap .I124_circle_line {
  position: absolute;
  left: 27.1%;
  top: 40%;
}

.I124_circle_chart_wrap .I124_circle_line1 {
  left: 27.1%;
  top: 40%;
}

.I124_circle_chart_wrap .I124_circle_line2 {
  left: 48.8%;
  top: 40%;
}

.I124_circle_chart_wrap .I124_circle_line3 {
  left: 71.2%;
  top: 40%;
}

.I124_circle_chart_wrap .I124_circle_line img {
  width: 100%;
  height: 100%;
}

.I124_r_bottom .I124_r_b_bar .I124_r_b_chart_wrap {
  height: calc(100% - 1rem);
}
.I124_r_bottom .I124_r_b_bar .I124_r_b_chart_wrap>div{
  height: 100%;
}
tspan {
  font-family: led;
}